.posts {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  font-family: 'Lato', sans-serif;
}

.posts div h2 {
  padding: 4px 8px;

  font-size: 16px;
}

.posts .post {
  display: flex;
  flex-direction: column;

  background-color: #EEE2DE;
  border-radius: 10px;

  max-width: 630px;
  min-width: 240px;

  font-size: 12px;
}

.posts .post .post-header {
  padding: 5px 10px;

  font-weight: 700;
  font-size: 12px;

  border-bottom: solid 1px #bebebe;
}

.posts .post .post-body {
  padding: 5px 8px;
}

.posts .post .post-body p {
  height: 40px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;


  margin: 0;
  padding: 0;
}

.posts .post .post-footer  {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;

  padding: 4px 8px;
}

.posts .post .post-footer div {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header_home {
  display: flex;

  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  max-width: 630px;
  margin-bottom: 1rem;
}

.header_home button:nth-child(1) {
  position: relative;
  height: 30px;

  border: none;
  cursor: pointer;
  background-color: rgb(253, 29, 29, 0.3);

  transition: all 300ms ease;
}

.header_home button:nth-child(1)::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #820300;

  z-index: 999;
  bottom: 0;
  left: 0;

  transition: all 300ms ease;
}

.header_home button:nth-child(1):hover {
  background-color: rgb(253, 29, 29, 0.8);
  color: #fff;
}

.header_home button:nth-child(1):hover::before {
  transform: translateY(-30px);
}

