<main class="container">
  <div class="posts">
    
    <div class="post">
      <div class="post-header">
        <span>@{{ posts[0].author }}</span>
      </div>

      <div>
        <h2>
          {{ posts[0].header }}
        </h2>
      </div>

      <div class="post-body">
        {{ posts[0].post }}
      </div>

      <div class="post-footer">
        <div>
          <i class="fa-solid fa-thumbs-up"></i>
          <span>{{ posts[0].likes }}</span>
        </div>
        <div>
          <i class="fa-solid fa-thumbs-down"></i>
          <span>{{ posts[0].deslikes }}</span>
        </div>
        <div>
          <i class="fa-solid fa-comment"></i>
          <span>{{ posts[0].replys.length }} respostas</span>
        </div>
      </div>

    </div>


  </div>
</main>
