/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap');


/* font-family: 'Lato', sans-serif; */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: 20px 30px;
  padding: 0 10px;
  display: grid;
  place-items: center;
}

.button {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  max-width: 100px;
  border: none;
  color: #fff;
  background-color: #820300;
  cursor: pointer;
}

.hash {
  background-color: rgb(217, 98, 98, 0.5);
  cursor: pointer;
  padding: 0.1rem 0.3rem;
  max-height: 17px;
  font-size: 13px;
  text-decoration: underline;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media (min-width: 765px) {
  .container {
    margin: 50px 70px;
  }
}


@media (min-width: 1024px) {
  .container {
    margin: 50px 200px;
  }
}

@media (min-width: 1440px) {
  .container {
    margin: 50px 400px;
  }
}
